 .cards-container {
    padding: 2rem;
    
}


.cards-container__div {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px; 
    grid-template-columns: auto auto auto 2;
    flex-wrap: wrap;
    
}
.container {
    margin: 20px;
}