@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lobster+Two:wght@700&family=Montserrat:wght@300&family=Open+Sans&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 
a {
  font-weight: 500;
}

body {
  margin: 0;
}

a {
  font-weight:500;
}

.links {
  display: flex;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1rem;
}

.activeClass {
  color: rgb(79,151, 19);
  font-size: 25px;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  box-sizing: border-box;
}

